@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}


.thin-scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 8px;
}

.thin-scrollbar::-webkit-scrollbar-track {
  background: #F4F4F5;
  border-radius: 8px;
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background: #E4E4E7;
  border-radius: 8px;
}

.thin-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}